.button {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #32cd32;
  color: #006400;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #90ee90, 0 0 0 2px #32cd32;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}
